.pagMiddle {
   position: fixed;
   left: 48.5%;
   bottom: 5.5%;
}

.layout {
   display: flex;
}

.layout2 {
   background: grey;
   margin-right: 20px;
}


@media only screen and (max-width: 1050px) {
   .pagMiddle {
      position: fixed;
      left: 47.75%;
      bottom: 5.5%;
   }
}

@media only screen and (max-width: 850px) {
   .pagMiddle {
      position: fixed;
      left: 26.25%;
      bottom: 5.5%;
   }
   .layout {
      display: flex;
      flex-direction: column;
   }
   .layout2 {
      background: grey;
      height: auto;
      margin-right: 0;
   }
}

@media only screen and (max-width: 600px) {
   .pagMiddle {
      position: fixed;
      left: 20%;
      bottom: 5.5%;
   }
}

@media only screen and (max-width: 480px) {
   .pagMiddle {
      position: fixed;
      left: 10%;
      bottom: 1.75%;
   }
}

@media only screen and (max-width: 425px) {
   .pagMiddle {
      position: fixed;
      left: 5%;
      bottom: 1.75%;
   }
}

@media only screen and (max-width: 375px) {
   .pagMiddle {
      position: fixed;
      left: 0;
      bottom: 1.75%;
   }
}

@media only screen and (max-width: 320px) {
   .pagMiddle {
      position: fixed;
      left: 0;
      bottom: 1.75%;
   }
}


.none{
   font-size: 50px;
   margin: 0 auto;
}