.wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    background-color: rgba(220,237,200, 0.3);
    height:50%;
    padding: 15px;
  }

.header {
  background-color: rgba(220,237,200, 0.3);
  height: 100%;
  margin: 0 auto;
  width: 100%;
}

.dasboardAll {
  border: 2px solid #757575;
  width:90%;
  height:100%;
  margin: 0 auto;
  margin-top:5px;
  margin-bottom: 5px;
  border-radius: 1%;
  
}

.header2 {
font-size: 30px;
line-height: 40px;
margin-top: 30px;
padding: 15px;
}
  
