
.NaviBar {
    font-family: "Oswald", sans-serif;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #8bc34a;
    height: 120px;
    z-index: 5;
    scroll-behavior: smooth;
    top: 0px;
}

.logo {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    color: #212121;
    font-size: 24px;
    text-decoration: none;
    padding: 20px;
}