.Wrapper {
    display: flex;
    flex-direction: column;
}

.Text{
    color: red;
    text-align: start;
    align-items: flex-end;

}

.NameRecipe{
    font-size: 20px;
    font-weight: bold;
    color: black;
    padding-bottom: 20px ;
}

.GridContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    grid-auto-rows: minmax(200px, auto);
}

.Img{
    border-radius: 6px;
}

.TimeAndPortions{
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
}