.SideBar {
    font-family: "Oswald", sans-serif;
    width: 15%;
    align-items: center;
    background: #8bc34a;
    height: 120px;
    z-index: 5;
    scroll-behavior: smooth;
    top: 0px;
    align-self: flex-end;
    height: 81vh;
    
}

.Produkt,
.Quantity,
.Kategory,
.Vawourites,
.Search {
 font-family: "Oswald", sans-serif;
    font-weight: bold;
    color: #212121;
    font-size: 24px;
    text-decoration: none;
    padding: 20px;
}
