.loginForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     height: 100vh;
     width: 100%;


}

.loginFormLogin , .loginFormPassword{
    width: 100%;
}

.rightsideLogin {
    width: 50%;
    margin: 0;
    padding: 0;
}
.rightsideLoginPic {
    background: url('https://upload.wikimedia.org/wikipedia/commons/c/cd/Selena_Gomez_2016.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
}

.loginBody {
    display: flex;
    flex-direction: row;

}

.loginLeft {
    margin-left: 0;
    width: 50%;
}

.loginRight {
    width: 50%;
}

.registerButtonSection {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
   
    background: rgba(155, 13, 80, 0.4);
    border-radius: 10px;
    padding: 30px;
    
    width:95%;
 
}


.label {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.label > div {
    width: 100%;
}

