.chart {
  position: relative;
    width: 34%;
    height:50%;
    margin-left:5%;
    }
 

.chart2 {
      position: relative;
      width: 39%;
      height:50%;
      margin-right:5%;

    }

    @media only screen and (max-width: 1400px) {
      .chart {
        position: relative;
          width: 43%;
          height:30%;
          margin-left:3%;
          }
      
      .chart2 {
        position: relative;
          width: 49%;
          height:30%;
          margin-left:3%;
          }
    }

    @media only screen and (max-width: 1060px) {
      .chart {
        position: relative;
          width: 38%;
          height:30%;
          margin-left:5%;
          }
      
      .chart2 {
        position: relative;
          width: 50%;
          height:30%;
          margin-left:5%;
          }
    }
    @media only screen and (max-width: 850px) {
      .chart {
        position: relative;
          width: 60%;
          height:30%;
          margin-left:5%;
          }
      
      .chart2 {
        position: relative;
          width: 65%;
          height:40%;
          margin-left:5%;
          }
    }

    @media only screen and (max-width: 600px) {
      .chart {
        position: relative;
          width: 80%;
          height:80%;
          margin-left:5%;
          }
      
      .chart2 {
        position: relative;
          width: 90%;
          height:90%;
          margin-left:5%;
          }
    }