.MainContent {
    background: rgb(189,189,189);
    background-image: linear-gradient(205deg, rgba(189,189,189,1) 0%, rgba(241,236,236,1) 55%, rgba(255,255,255,1) 100%);
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
    /* padding: 30px; */
   
}
 h1{
     display: block;
     text-align: center
 }

