.modalImage {
    margin: 0 auto;
}

.modalText {
  font-size: 2em;
  word-spacing: 10px;
  line-height: initial;
  margin-top: 1%;
  text-align: justify;

}

@media only screen and (max-width: 1023px) { 
  .modalText {
    font-size: 1.6em;
  }
}