
.NaviBar {
    font-family: "Oswald", sans-serif;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(139,195,74, 0.8); 
    z-index: 5;
    scroll-behavior: smooth;
    top: 0px;
    align-self: flex-end; 
    height: 7vh;
    justify-content: space-between;
}

.logo {
    width: 125px;
    margin-left: 25px;
}

.Profile,
.Przepisy,
.Dashboard {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    color: #212121;
    font-size: 24px;
    text-decoration: none;
    padding: 20px;
    justify-content: flex-end;
}

.NaviBarRight {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    margin-right: 30px; 
}

@media only screen and (max-width: 850px) {
    .Profile,
.Przepisy,
.Dashboard {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    color: #212121;
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
    justify-content: flex-end;
}
.logo {
    width: 100px;
    margin-left: 20px;
}
}

@media only screen and (max-width: 500px) {
    .Profile,
.Przepisy,
.Dashboard {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    color: #212121;
    font-size: 14px;
    text-decoration: none;
    padding: 5px;
    justify-content: flex-end;
}
.logo {
    width: 90px;
    margin-left: 15px;
}
}

.Profile:hover,
.Przepisy:hover,
.Dashboard:hover {
    background-color: #689F38;
    padding: 0 21px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
   
}
