.RecipeView {
    margin: 30px;
    box-shadow: 4px 4px grey;
    border-radius: 3px;
}

.Wrapper {
    display: flex;
    flex-direction: column;
}

.Text {
    color: #689F38;
    text-align: start;
    align-items: flex-end;
    font-size: 16px;
    font-weight: bold;
}

.NameRecipe {
    font-size: 20px;
    font-weight: bold;
    color: black;
    padding-bottom: 20px;
}

.ShortDescription {
    margin: 10px;
}

.GridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(200px, auto);
}

.Img {
    border-radius: 6px;
    width: 200px;
    height: 200px;
    background: cover;
}

.TimeAndPortions {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
}

.Heart {
    display: flexbox;
}

.HeartInRecipe {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    margin: 10px;
    color: #212121;
    font-size: 24px;
    text-decoration: none;
    padding: 3% 45% 0%;
}