.pagMiddle {
   position: fixed;
   bottom: 10%;
   left:49%;
}

.layout {
   display: flex;
}

@media only screen and (max-width: 1050px) { 
   .pagMiddle {
      position: fixed;
      bottom: 34%;
      left:49%;
   }
}


@media only screen and (max-width: 850px) {
   .layout {
      display: flex;
      flex-direction: column;
   } 
}

.layout2 {
   background: grey;
   margin-right: 20px;
}

@media only screen and (max-width: 850px) {
   .layout2 {
      background: grey;
      height: auto;
      margin-right: 0;
   }


   .pagMiddle {
      position: fixed;
      bottom: 10%;
      left: 24%;
}
}

@media only screen and (max-width: 600px) {

   .pagMiddle {
      position: fixed;
      bottom: 18%;
      left:17%;
}
}

@media only screen and (max-width: 425px) {

   .pagMiddle {
      position: fixed;
      bottom: 18%;
      left:5%;
}
}