.RegisterForm{
    background-color: pink;
    padding: 20px;
    height: 90vh;
    text-align: center;
}

.Inputs{
    width: 20%;
    margin: auto;
    display: block;
    
}

.Register{
    display: block;
    margin: auto;
    padding: 20px;
    background-color: grey;
}

.RegPage{
    height: 90vh;
}

.MailPar{
    font-size: 25px;
    text-align: center;
}

.MailParBelow{
    font-size: 25px;
    width: 100%;
}

/* .mailBox{
    background-color: pink;
} */