.RegisterForm{
    background-color: pink;
    padding: 20px;
    height: 90vh;
}

.Inputs{
    width: 20%;
    margin: auto;
    display: block;
    
}

.Register{
    display: block;
    margin: auto;
    padding: 20px;
    background-color: grey;
}

.RegPage{
    height: 90vh;
}

/* .mailBox{
    background-color: pink;
} */