.SideBar {
  font-family: "Oswald", sans-serif;
  align-items: center;
  scroll-behavior: smooth;
  top: 0px;
  padding: 10px;
  background-color: #bdbdbd;
  height: 88vh;
  max-width: 230px;
}

.Produkt, .Quantity, .Kategory, .Search {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  color: #212121;
  font-size: 24px;
  text-decoration: none;
  padding: 20px;
  text-align: center;
}

.Vawourites {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  color: #212121;
  font-size: 24px;
  text-decoration: none;
  text-align: center;
}

/* slider */

.Label {
  /* display: flex; */
  align-items: center;
  /* width: 90%; */
  font-size: 24px;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  color: #212121;
  font-size: 24px;
  text-align: center;
}

.InputSlide {
  margin-right: 10px;
} 