.SideBar {
  font-family: "Oswald", sans-serif;
  align-items: center;
  scroll-behavior: smooth;
  top: 0px;
  padding: 10px;
  height: 88vh;
  background-color: #fefefe40;
  /* border: 1px solid #a9a9a9; */
  border-radius: 0 25% 30% 0;
  width: 220px;
}

.Product, .Quantity, .Category, .Search, .Name {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  color: #212121;
  font-size: 24px;
  text-decoration: none;
  padding: 20px;
  text-align: center;
}

.Searching {
  font-family: serif;
  font-weight: bold;
  color: #212121;
  font-size: 30px;
  text-decoration: underline;
  padding: 20px;
  text-align: center;
}

.Searching::first-letter {
  font-family: serif;
  font-weight: bold;
  color: #212121;
  font-size: 40px;
  text-decoration: none;
  text-align: center;
}

.Fawourites {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  color: #212121;
  font-size: 24px;
  text-decoration: none;
  text-align: center;
}

/* slider */

.Label {
  align-items: center;
  font-size: 24px;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  color: #212121;
  font-size: 24px;
  text-align: center;
}

.InputSlide {
  margin-right: 10px;
}

.WeightDisplay {
  font-size: 24px;
  font-weight: bold;
  color: #212121;
  width: 100%;
  padding: 3px;
  margin-right: 2px;
}